body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #45a049;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: end;
}

.menuContainer{
    display: flex;
    justify-content:space-between;
    width: 100%;
    align-items: center;
}


.cartContainer {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

#btnCarrito {
    cursor: pointer;
  }




  #modalCarrito {
    display: none;
    position: fixed;
    z-index: 1;
    top: 100px; 
    left: 60%; 
    width: 40%; 
    max-height: calc(100% - 60px); 
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    color: black;
    background-color: whitesmoke;
    border: 2px solid #a8a6a6;
}

.modal-content div p {
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

.modal-content div .boton {
    margin-left: 25%;
    margin-bottom: 5%;
}

.modal ul {
    margin: 15px;
}

.modal ul li {
    list-style: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal ul li img {
    width: 30px;
    height: auto;
}

.modal ul h2 {
    width: 40%;
    font-size: xx-small;
}

.modal input {
    width: 7%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    box-sizing: border-box;
    display: inline-block; 
    vertical-align: top;
}

.card:hover {
    transform: translateY(-5px);
}

.cardImagen {
    width: 100%;
    height: 150px; 
    object-fit: contain; 
    border-bottom: 1px solid #ddd;
}

.cardText {
    padding: 15px;
}

.cardNombre {
    font-size: 1em;
    margin-bottom: 5px;
}

.cardPrecio {
    font-weight: bold;
    color: #ff5733;
}

.cardBoton {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

.cardBoton:hover {
    background-color: #45a049;
}


footer {
    background-color: #45a049;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: xx-large;
}

@media only screen and (max-width: 600px) {
    .card {
        width: calc(100% - 20px);
    }
    #modalCarrito {
        display: none;
        position: fixed;
        z-index: 1;
        top: 70px; 
        left: 0%; 
        width: 100%; 
        max-height: calc(100% - 60px); 
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .modal-content div p {
        display: flex;
        justify-content: end;
        margin-right: 0%;
    }

    footer {
        background-color: #45a049;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media only screen and (min-width: 1025px) {
    .card {
        width: calc(25% - 20px);
    }
}